*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 6px 6px -3px #0000001A;
    /* background-color: black; */
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo p{
    font-weight: 700;
    font-size: 16px;

}
.logout-button button{
    border: 2px solid #437EF7;
    background-color: #ffffff;
    color: #437EF7;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    padding: 8px 12px;
    border-radius: 4px;
    align-items: center;
}
.page{
    display: flex;
    gap: 10px;
}
.page img{
    border-radius: 10px;
    height: 400px;
    width:400px;
    margin:50px;
}
.image-details{
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    width: 450px;
}
#title{
    font-weight: 700;
    font-size: 30px;
    font-family: "Outfit";
}
#artist{
    font-weight: 600;
    font-size: 20px;
    font-family: "Nunito";
}
.card img{
    width: 325px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.card{
    height: 430px;
    margin:10px;
    box-shadow: 0px 6px 6px -3px #0000001A;
    width: 325px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    gap:5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
.artist-details{
    display: flex;
    gap:4px ;
    flex-grow: 1;
}
.artist-details img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.visit-site {
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.visit-site a{
    text-decoration: none;
    color: inherit;
    display: block;
  }
.visit-site button{
    color: #ffffff;
    background-color: black;
    padding: 5px;
    margin-bottom: 5px;
    width: 315px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}
.img-details p,
.artist-details img{
    margin-left: 7px;
}
.img-details p{
    font-weight: 600;
    font-size: 20px;
}
.artist-details p{
    text-decoration: underline;
}
.related-works{
    margin: 50px;
}
.title h1{
    font-size:30px ;
    font-weight: 700;
}
.cards{
    display: flex;
    gap:8px;
}